@charset "utf-8";

/* Checkout Page Styles */

#deliveryContainer {
    height: 3vh;
    text-align: center;
}

.deliveryOption {
    display: inline-block;
    margin: 0 2vw;
}

.deliveryOption label {
    display: block;
    margin-bottom: 1vh;
}

input[type="radio"] {
    margin: 0 2%;
    width: 5vw;
    height: auto;
}

#checkoutMessage {
    text-align: center;
    font-weight: bold;
    color: hsla(100, 85%, 40%, 0.9);
    margin: 3% auto;
}

#orderDetails {
    display:grid;
    grid-template-columns: 3fr 1fr;
    width: 30vw;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
}

#noItemsInCart {
    display: none;
    margin: 4vh auto;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

#customerName:focus:valid {
    background-color: hsla(100, 85%, 70%, 0.2);
}

#customerName:focus:invalid {
    background-color: hsla(0, 85%, 70%, 0.2);
}

#customerEmail:focus:valid {
    background-color: hsla(100, 85%, 70%, 0.2);
}

#customerEmail:focus:invalid {
    background-color: hsla(0, 85%, 70%, 0.2);
}

#customerPhoneNumber:focus:valid {
    background-color: hsla(0, 0%, 73%, 0.2);
}

#deliveryAddress,
#deliveryAddressLabel {
    display: none;
}

#deliveryAddress:focus:valid {
    background-color: hsla(100, 85%, 70%, 0.2);
}

#deliveryAddress:focus:invalid {
    background-color: hsla(0, 85%, 70%, 0.2);
}

#creditCardName:focus:valid {
    background-color: hsla(100, 85%, 70%, 0.2);
}

#creditCardName:focus:invalid {
    background-color: hsla(0, 85%, 70%, 0.2);
}

#creditCardNum:focus:valid {
    background-color: hsla(100, 85%, 70%, 0.2);
}

#creditCardNum:focus:invalid {
    background-color: hsla(0, 85%, 70%, 0.2);
}

#creditCardExp:focus:valid {
    background-color: hsla(100, 85%, 70%, 0.2);
}

#creditCardExp:focus:invalid {
    background-color: hsla(0, 85%, 70%, 0.2);
}

#creditCardCVV:focus:valid {
    background-color: hsla(100, 85%, 70%, 0.2);
}

#creditCardCVV:focus:invalid {
    background-color: hsla(0, 85%, 70%, 0.2);
}

#customerCheckout {
    display: block;
    padding: 10px;
    margin: 2vh auto;
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
}

#arrivalTime {
    text-align: center;
    margin: 2%;
}


/* Responsive Design */



/* Desktop */
@media screen and (max-width: 1024px) {

    #orderDetails {
        width: 35vw;
    }
}

/* Tablet */
@media screen and (max-width: 850px) {

    #orderDetails {
        width: 40vw;
    }
}

/* Phone */
@media screen and (max-width: 640px) {

    #orderDetails {
        width: 45vw;
    }
}