@charset "utf-8";

/* Detail Page Styles */

.menuItem {
    margin: 6% auto 0 auto;
    width: 50%;
    text-align: center;
    line-height: 1.5;
}

.menuItem h2 {
    margin: 2%;
}

.menuItem img {
    outline: 1px solid black;
    width: 20vw;
    height: 30vw;
    object-fit: cover;
    margin: 2%;
}

.menuItem button {
    margin: 3%;
}

.pizzaSizes {
    display: grid;
    width: 25%;
    margin: 2% auto;
    grid-template-columns: repeat(3, 1fr);
}

#pricingHeader {
    text-align: center;
    margin-top: 3%;
}

#comparisonTable {
    margin: 2% auto 5% auto;
}

/* Responsive Design */


/* Desktop */
@media screen and (max-width: 1024px) {
    .menuItem h2 {
        font-size: 1.5rem;
    }

    .menuItem p {
    font-size: 16px;
    }

    #pricingHeader {
        font-size: 2rem;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    .menuItem h2 {
        font-size: 1.25rem;
    }

    .menuItem p {
    font-size: 14px;
    }

    #pricingHeader {
        font-size: 1.67rem;
    }
}

/* Phone */
@media screen and (max-width: 640px) {

    .menuItem h2 {
        font-size: 1rem;
    }

    .menuItem p {
    font-size: 12px;
    }

    #pricingHeader {
        font-size: 1.33rem;
    }
}